@keyframes flip {
  0%{transform: rotateY(0deg);}
  50%{transform: rotateY(0.25turn);}
  100%{transform: rotateY(0.5turn);}
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  
  .front-img {
    height: 100%;
    width: 100%;
  }
  
  .front-text {
    position: relative;
    bottom: 1.5rem;
    // top: 2.5%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    text-align: center;
    text-transform: capitalize;
    font-weight: bolder;
    color: wheat;
    // text-wrap: nowrap;
    // overflow-x: scroll;
  }

  .front,
  .back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    padding: .5rem;
  }
  
  .back {
    color: white;
    transform: rotateY(180deg);
    background-image: url(https://images.unsplash.com/photo-1557672199-6e8c8b2b8fff?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80);
    border-radius: 10px;
  }
}

.card1 {
  font-weight: bold;
  font-family: system-ui, sans-serif;
  color: #181a1a;
  z-index: 1;
  width: 200px;
  aspect-ratio: 1 / 1.546;
  box-shadow: 0 1px 5px #00000099;
  border-radius: 10px;
  background-size: cover;
  position: relative;
  
  transition-duration: 100ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
  transform-style: preserve-3d;
  &:hover{
    cursor: pointer;
  }
  * {
    pointer-events: none;
  }
}
.card1:hover {
  transition-duration: 150ms;
  box-shadow: 0 5px 20px 5px #00000044;
}